<footer>
  <hr>
  <div>
    <p class="pull-right">
      <%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %>
    </p
  </div>
    <div id="copyright" class="text-center">
        <%= cl_image_tag("RCCG-LOGO-1_edehxk.jpg",:crop => :fill, :width => 120, :height => 120, :alt => "rccg logo") %>
        <p><a href="/index">&copy; RCCG Overcomers' House | Torquay | UK | <%= Date.today.year %></a></p>
    </div>
</footer>
