<%= content_for :page_title, 'RCCG Overcomers House | Torquay - Ministries' %>


    <div class="row" style="background-color: black; font: #fff">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span class="page-image"><h1>Join</h1></span>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4  col-xs-4 text-center">
            
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <p><span class="starter">O</span>vercomers House, Torquay (UK) is a dynamic multi cultural and multi-racial assembly where the praise is high, the worship is intense, and the word is uncompromising.</p>
            <p>The church is a mission of the The Redeemed Christian Church of God (RCCG). RCCG has a vision to spread the word of God to the ends of the earth. It is a bible believing church, where teachings and a missionary approach emphasize the proper conduct and moral behaviour of people. The church has an appeal to all types of people worldwide, with a determination to teach people in their various geographical areas, stages of secular life and levels of spiritual development.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 hidden-sm  text-center">
            <%= cl_image_tag("pastor_adeboye_pqeuji.jpg", :crop => :fill, :width => 120, :dpr => :auto, :responsive_placeholder => "blank", :height => 120, :radius => 20, :gravity => 'face', :alt => "Pastor Adeboye") %>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <p>The General Overseer of the RCCG denomination is Pastor E.A. Adeboye. RCCG was founded in 1952 and since then, the church has grown to over 5,000 parishes worldwide with a total congregational strength of over one million people.</p>
            <p>Presently, there are established missions in many African countries, as well as Europe, Asia, the United States, the Caribbean, Canada, South America, and Australia.</p>
            <p>RCCG has also been involved in establishing schools, rehabilitation centres, child care and support centres.</p>
            <p>The Redeemed Christian Church of God, Overcomers House, Torquay was inaugurated on the 4th of Feb. 1996.</p>
        </div>

    </div>
